# Learn Python

### Lambda Functions

##### More on Lambda Functions: https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions

In [1]:
square = lambda x: x*x

print(square(3))

9

In [31]:
myList = [1,2,3,4,5,6,7,8,9,10]
evenFilter = lambda x: (x%2==0)
newList = list(filter(evenFilter, myList))
print(newList)

[2, 4, 6, 8, 10]

#### Example-1 of Lambda functions

In [67]:
import numpy as np
import pandas as pd
del mpg_df
mpg_df = pd.read_csv("data/car-mpg.csv")
mpg_df.head(10)

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,0,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,0,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,0,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,0,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,0,amc ambassador dpl

In [68]:
mpg_df = mpg_df.replace("?", np.nan)
mpg_df = mpg_df.drop("car_name", axis=1)
mpg_df['hp'] = mpg_df['hp'].astype('float64')
mpg_df = mpg_df.apply(lambda x: x.fillna(x.median()), axis=0)
mpg_df

      mpg  cyl   disp     hp    wt   acc  yr  origin  car_type
0    18.0    8  307.0  130.0  3504  12.0  70       1         0
1    15.0    8  350.0  165.0  3693  11.5  70       1         0
2    18.0    8  318.0  150.0  3436  11.0  70       1         0
3    16.0    8  304.0  150.0  3433  12.0  70       1         0
4    17.0    8  302.0  140.0  3449  10.5  70       1         0
..    ...  ...    ...    ...   ...   ...  ..     ...       ...
393  27.0    4  140.0   86.0  2790  15.6  82       1         1
394  44.0    4   97.0   52.0  2130  24.6  82       2         1
395  32.0    4  135.0   84.0  2295  11.6  82       1         1
396  28.0    4  120.0   79.0  2625  18.6  82       1         1
397  31.0    4  119.0   82.0  2720  19.4  82       1         1

[398 rows x 9 columns]